In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("123456.csv")

In [3]:
df.head(10)

,Unnamed: 0,zone,province,type,2545,2547,2549,2550,2552,2554,2556,2558,2560,group
0,0,ภาคกลาง,กรุงเทพมหานคร,เพื่อใช้จ่ายในครัวเรือน,117724.88,37388.46,31693,38184,44146,57018.3,72056.7,52384.4,65061.29,0
1,1,ภาคกลาง,กรุงเทพมหานคร,เพื่อใช้ทำธุรกิจที่ไม่ใช่การเกษตร,44118.82,31081.73,48960,27517,51720,15421.8,16311.5,12717.4,10537.76,2
2,2,ภาคกลาง,กรุงเทพมหานคร,เพื่อใช้ทำการเกษตร,85.69,445.82,1189,3298,600,1273.0,709.8,310.9,10.80,1
3,3,ภาคกลาง,กรุงเทพมหานคร,เพื่อใช้ในการศึกษา,0.00,0.00,4362,4953,5249,4287.7,3099.1,1229.9,2261.56,1
4,4,ภาคกลาง,กรุงเทพมหานคร,เพื่อใช้ซื้อ/เช่าซื้อบ้านและที่ดิน,0.00,86207.61,68779,67457,102121,136961.9,180382.5,97246.0,123080.32,3
5,5,ภาคกลาง,กรุงเทพมหานคร,อื่น ๆ,269.82,5652.28,3076,13986,3830,3778.9,3017.1,817.0,1748.11,1
6,6,ภาคกลาง,สมุทรปราการ,เพื่อใช้จ่ายในครัวเรือน,71284.00,23850.24,21393,31960,33028,41836.5,59330.2,40380.0,41492.81,5
7,7,ภาคกลาง,สมุทรปราการ,เพื่อใช้ทำธุรกิจที่ไม่ใช่การเกษตร,11070.68,9221.45,5249,3570,6909,2895.4,14035.8,1981.9,3025.70,1
8,8,ภาคกลาง,สมุทรปราการ,เพื่อใช้ทำการเกษตร,1969.19,4083.22,1353,1054,1312,420.0,92.5,0.0,212.26,1
9,9,ภาคกลาง,สมุทรปราการ,เพื่อใช้ในการศึกษา,0.00,0.00,1292,2729,1201,461.7,124.4,160.1,568.94,1

In [4]:
df[df.group==4]

,Unnamed: 0,zone,province,type,2545,2547,2549,2550,2552,2554,2556,2558,2560,group
31,31,ภาคกลาง,อ่างทอง,เพื่อใช้ทำธุรกิจที่ไม่ใช่การเกษตร,4268.41,4580.54,16330,25416,179680,13690.0,28921.8,22275.8,5920.44,4
38,38,ภาคกลาง,ลพบุรี,เพื่อใช้ทำการเกษตร,15975.88,28240.46,30578,22795,320118,33620.3,40284.5,27121.5,18083.09,4

1 : เพื่อใช้จ่ายในครัวเรือน <br/>
2 : เพื่อใช้ทำธุรกิจที่ไม่ใช่การเกษตร <br/>
3: เพื่อใช้ทำการเกษตร <br/>
4: เพื่อใช้ในการศึกษา <br/>
5: เพื่อใช้ซื้อ/เช่าซื้อบ้านและที่ดิน <br/>
6: อื่น ๆ

# Group 0

In [5]:
g0 = df[df.group==0]
lst0 = []
for i in g0['type']:
    lst0.append(i)
    
g0_1 = lst0.count("เพื่อใช้จ่ายในครัวเรือน")
g0_2 = lst0.count("เพื่อใช้ทำธุรกิจที่ไม่ใช่การเกษตร")
g0_3 = lst0.count("เพื่อใช้ทำการเกษตร")
g0_4 = lst0.count("เพื่อใช้ในการศึกษา")
g0_5 = lst0.count("เพื่อใช้ซื้อ/เช่าซื้อบ้านและที่ดิน")
g0_6 = lst0.count("อื่น ๆ")

print(g0_1)
print(g0_2)
print(g0_3)
print(g0_4)
print(g0_5)
print(g0_6)

51
2
6
0
12
0

# Group1

In [6]:
g1 = df[df.group==1]
lst1 = []
for i in g1['type']:
    lst1.append(i)

g1_1 = lst1.count("เพื่อใช้จ่ายในครัวเรือน")
g1_2 = lst1.count("เพื่อใช้ทำธุรกิจที่ไม่ใช่การเกษตร")
g1_3 = lst1.count("เพื่อใช้ทำการเกษตร")
g1_4 = lst1.count("เพื่อใช้ในการศึกษา")
g1_5 = lst1.count("เพื่อใช้ซื้อ/เช่าซื้อบ้านและที่ดิน")
g1_6 = lst1.count("อื่น ๆ")

print(g1_1)
print(g1_2)
print(g1_3)
print(g1_4)
print(g1_5)
print(g1_6)

0
11
14
77
1
76

# Group2

In [7]:
g2 = df[df.group==2]
lst2 = []
for i in g2['type']:
    lst2.append(i)

g2_1 = lst2.count("เพื่อใช้จ่ายในครัวเรือน")
g2_2 = lst2.count("เพื่อใช้ทำธุรกิจที่ไม่ใช่การเกษตร")
g2_3 = lst2.count("เพื่อใช้ทำการเกษตร")
g2_4 = lst2.count("เพื่อใช้ในการศึกษา")
g2_5 = lst2.count("เพื่อใช้ซื้อ/เช่าซื้อบ้านและที่ดิน")
g2_6 = lst2.count("อื่น ๆ")

print(g2_1)
print(g2_2)
print(g2_3)
print(g2_4)
print(g2_5)
print(g2_6)

4
57
32
0
21
1

# Group3

In [8]:
g3 = df[df.group==3]
lst3 = []
for i in g3['type']:
    lst3.append(i)

g3_1 = lst3.count("เพื่อใช้จ่ายในครัวเรือน")
g3_2 = lst3.count("เพื่อใช้ทำธุรกิจที่ไม่ใช่การเกษตร")
g3_3 = lst3.count("เพื่อใช้ทำการเกษตร")
g3_4 = lst3.count("เพื่อใช้ในการศึกษา")
g3_5 = lst3.count("เพื่อใช้ซื้อ/เช่าซื้อบ้านและที่ดิน")
g3_6 = lst3.count("อื่น ๆ")

print(g3_1)
print(g3_2)
print(g3_3)
print(g3_4)
print(g3_5)
print(g3_6)

1
0
0
0
4
0

# Group4

In [9]:
g4 = df[df.group==4]
lst4 = []
for i in g4['type']:
    lst4.append(i)

g4_1 = lst4.count("เพื่อใช้จ่ายในครัวเรือน")
g4_2 = lst4.count("เพื่อใช้ทำธุรกิจที่ไม่ใช่การเกษตร")
g4_3 = lst4.count("เพื่อใช้ทำการเกษตร")
g4_4 = lst4.count("เพื่อใช้ในการศึกษา")
g4_5 = lst4.count("เพื่อใช้ซื้อ/เช่าซื้อบ้านและที่ดิน")
g4_6 = lst4.count("อื่น ๆ")

print(g4_1)
print(g4_2)
print(g4_3)
print(g4_4)
print(g4_5)
print(g4_6)

0
1
1
0
0
0

# Group5

In [10]:
g5 = df[df.group==5]
lst5 = []
for i in g5['type']:
    lst5.append(i)

g5_1 = lst5.count("เพื่อใช้จ่ายในครัวเรือน")
g5_2 = lst5.count("เพื่อใช้ทำธุรกิจที่ไม่ใช่การเกษตร")
g5_3 = lst5.count("เพื่อใช้ทำการเกษตร")
g5_4 = lst5.count("เพื่อใช้ในการศึกษา")
g5_5 = lst5.count("เพื่อใช้ซื้อ/เช่าซื้อบ้านและที่ดิน")
g5_6 = lst5.count("อื่น ๆ")

print(g5_1)
print(g5_2)
print(g5_3)
print(g5_4)
print(g5_5)
print(g5_6)

21
6
24
0
39
0

In [11]:
d =  {
    "เพื่อใช้จ่ายในครัวเรือน" : [g0_1, g1_1, g2_1, g3_1, g4_1, g5_1],
    "เพื่อใช้ทำธุรกิจที่ไม่ใช่การเกษตร" : [g0_2, g1_2, g2_2, g3_2, g4_2, g5_2],
    "เพื่อใช้ทำการเกษตร" : [g0_3, g1_3, g2_3, g3_3, g4_3, g5_3],
    "เพื่อใช้ในการศึกษา" : [g0_4, g1_4, g2_4, g3_4, g4_4, g5_4],
    "เพื่อใช้ซื้อ/เช่าซื้อบ้านและที่ดิน" : [g0_5, g1_5, g2_5, g3_5, g4_5, g5_5],
     "อื่น ๆ" : [g0_6, g1_6, g2_6, g3_6, g4_6, g5_6]
}

In [12]:
df = pd.DataFrame(data=d)
df.T

                                     0   1   2  3  4   5
เพื่อใช้จ่ายในครัวเรือน             51   0   4  1  0  21
เพื่อใช้ทำธุรกิจที่ไม่ใช่การเกษตร    2  11  57  0  1   6
เพื่อใช้ทำการเกษตร                   6  14  32  0  1  24
เพื่อใช้ในการศึกษา                   0  77   0  0  0   0
เพื่อใช้ซื้อ/เช่าซื้อบ้านและที่ดิน  12   1  21  4  0  39
อื่น ๆ                               0  76   1  0  0   0

In [13]:
import plotly as py
import plotly.graph_objs as go
from plotly.graph_objs import Scatter, Layout
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
py.offline.init_notebook_mode(connected=True)

In [25]:
trace1 = go.Bar(
    x=["group 0", "group 1", "group 2", "group 3", "group 4", "group 5"],
    y=[51,0,4,1,0,21],
    name='เพื่อใช้จ่ายในครัวเรือน'
)
trace2 = go.Bar(
    x=["group 0", "group 1", "group 2", "group 3", "group 4", "group 5"],
    y=[2,11,57,0,1,6],
    name='เพื่อใช้ทำธุรกิจที่ไม่ใช่การเกษตร	'
)
trace3 = go.Bar(
    x=["group 0", "group 1", "group 2", "group 3", "group 4", "group 5"],
    y=[6,14,32,0,1,24],
    name='เพื่อใช้ทำการเกษตร'
)
trace4 = go.Bar(
    x=["group 0", "group 1", "group 2", "group 3", "group 4", "group 5"],
    y=[0,77,0,0,0,0],
    name='เพื่อใช้ในการศึกษา'
)
trace5 = go.Bar(
    x=["group 0", "group 1", "group 2", "group 3", "group 4", "group 5"],
    y=[12,1,21,4,0,39],
    name='เพื่อใช้ซื้อ/เช่าซื้อบ้านและที่ดิน'
)
trace6 = go.Bar(
    x=["group 0", "group 1", "group 2", "group 3", "group 4", "group 5"],
    y=[0,76,1,0,0,0],
    name='อื่น ๆ'
)

layout = go.Layout(
    barmode='stack'
)

fig = go.Figure(data=[trace1, trace2, trace3, trace4, trace5, trace6], layout=layout)
py.offline.iplot(fig)

# save to html

In [27]:
# Plot
py.offline.plot({
"data": [
    trace1, trace2, trace3, trace4, trace5, trace6
],
"layout": Layout(
    barmode='stack'
)
})

'file://C:\\Users\\wsirigate\\Desktop\\FDS_Project\\New folder\\temp-plot.html'