## Import library

In [22]:
import pandas as pd
import numpy as np

## Import data

In [23]:
df = pd.read_excel("หนี้สินเฉลี่ยต่อครัวเรือน จำแนกตามวัตถุประสงค์ของการกู้ยืม เป็นรายจังหวัด_พ.ศ._2545-2560_edit.xlsx")

In [24]:
df.head(10)

,ภาค,จังหวัด,วัตถุประสงค์ของการกู้ยืม,2545,2547,2549,2550,2552,2554,2556,2558,2560
0,ภาคกลาง,กรุงเทพมหานคร,หนี้สินทั้งสิ้น,162199.23,160775.93,158059.0,155396.0,207665.0,218741.4,275576.8,164705.6,202699.85
1,ภาคกลาง,กรุงเทพมหานคร,เพื่อใช้จ่ายในครัวเรือน,117724.88,37388.46,31693.0,38184.0,44146.0,57018.3,72056.7,52384.4,65061.29
2,ภาคกลาง,กรุงเทพมหานคร,เพื่อใช้ทำธุรกิจที่ไม่ใช่การเกษตร,44118.82,31081.73,48960.0,27517.0,51720.0,15421.8,16311.5,12717.4,10537.76
3,ภาคกลาง,กรุงเทพมหานคร,เพื่อใช้ทำการเกษตร,85.69,445.82,1189.0,3298.0,600.0,1273.0,709.8,310.9,10.80
4,ภาคกลาง,กรุงเทพมหานคร,เพื่อใช้ในการศึกษา,0.00,0.00,4362.0,4953.0,5249.0,4287.7,3099.1,1229.9,2261.56
5,ภาคกลาง,กรุงเทพมหานคร,เพื่อใช้ซื้อ/เช่าซื้อบ้านและที่ดิน,0.00,86207.61,68779.0,67457.0,102121.0,136961.9,180382.5,97246.0,123080.32
6,ภาคกลาง,กรุงเทพมหานคร,อื่น ๆ,269.82,5652.28,3076.0,13986.0,3830.0,3778.9,3017.1,817.0,1748.11
7,ภาคกลาง,สมุทรปราการ,หนี้สินทั้งสิ้น,84345.14,78750.16,95975.0,85904.0,117361.0,115168.8,207741.1,87647.2,179803.61
8,ภาคกลาง,สมุทรปราการ,เพื่อใช้จ่ายในครัวเรือน,71284.00,23850.24,21393.0,31960.0,33028.0,41836.5,59330.2,40380.0,41492.81
9,ภาคกลาง,สมุทรปราการ,เพื่อใช้ทำธุรกิจที่ไม่ใช่การเกษตร,11070.68,9221.45,5249.0,3570.0,6909.0,2895.4,14035.8,1981.9,3025.70

## Check missing value

In [26]:
df.isnull().sum()

ภาค                         0
จังหวัด                     0
วัตถุประสงค์ของการกู้ยืม    0
2545                        7
2547                        7
2549                        7
2550                        7
2552                        7
2554                        7
2556                        0
2558                        0
2560                        0
dtype: int64

## Handle with missing value

In [27]:
df = df.fillna(0)

In [28]:
df.isnull().sum()

ภาค                         0
จังหวัด                     0
วัตถุประสงค์ของการกู้ยืม    0
2545                        0
2547                        0
2549                        0
2550                        0
2552                        0
2554                        0
2556                        0
2558                        0
2560                        0
dtype: int64

In [30]:
df.sample(10)

,ภาค,จังหวัด,วัตถุประสงค์ของการกู้ยืม,2545,2547,2549,2550,2552,2554,2556,2558,2560
157,ภาคกลาง,สมุทรสาคร,เพื่อใช้ทำการเกษตร,8700.65,6826.01,7391.0,5986.0,7195.0,9445.5,988.9,788.6,654.45
94,ภาคกลาง,ตราด,เพื่อใช้ทำการเกษตร,13324.79,26251.60,30104.0,24023.0,28015.0,18395.8,18535.8,26157.1,33869.60
461,ภาคใต้,พังงา,อื่น ๆ,2089.52,924.12,0.0,1227.0,0.0,1076.0,0.0,0.0,0.00
359,ภาคตะวันออกเฉียงเหนือ,บึงกาฬ,เพื่อใช้ทำธุรกิจที่ไม่ใช่การเกษตร,0.00,0.00,0.0,0.0,0.0,0.0,9590.8,75485.2,14493.48
401,ภาคตะวันออกเฉียงเหนือ,มหาสารคาม,เพื่อใช้ทำธุรกิจที่ไม่ใช่การเกษตร,6773.38,9781.55,20872.0,14481.0,41840.0,28401.0,30890.2,20741.3,23051.84
482,ภาคใต้,ระนอง,อื่น ๆ,309.64,447.23,317.0,136.0,774.0,0.0,0.0,6.4,1086.43
152,ภาคกลาง,นครปฐม,เพื่อใช้ซื้อ/เช่าซื้อบ้านและที่ดิน,0.00,61602.86,51252.0,44496.0,55423.0,14804.8,101625.0,49842.9,16102.12
120,ภาคกลาง,สระแก้ว,เพื่อใช้จ่ายในครัวเรือน,22409.11,19815.05,35231.0,43520.0,39364.0,46933.3,51241.8,144502.2,71272.14
377,ภาคตะวันออกเฉียงเหนือ,ขอนแก่น,อื่น ๆ,13675.85,855.75,2978.0,2183.0,2425.0,1886.6,2126.1,0.0,183.53
488,ภาคใต้,ชุมพร,เพื่อใช้ซื้อ/เช่าซื้อบ้านและที่ดิน,0.00,15892.38,43598.0,34326.0,37338.0,17853.2,60262.8,35675.8,22094.49